
-- Tabela NPS
CREATE TABLE IF NOT EXISTS nps (
  id SERIAL PRIMARY KEY,
  bar_id INTEGER NOT NULL REFERENCES bars(id),
  data_pesquisa DATE NOT NULL,
  funcionario_nome TEXT NOT NULL,
  setor TEXT NOT NULL CHECK (setor IN ('LideranÃ§a', 'Cozinha', 'Bar', 'SalÃ£o', 'TODOS')),
  quorum INTEGER,
  
  -- Perguntas NPS (escala 1-5)
  qual_sua_area_atuacao INTEGER CHECK (qual_sua_area_atuacao >= 1 AND qual_sua_area_atuacao <= 5),
  sinto_me_motivado INTEGER CHECK (sinto_me_motivado >= 1 AND sinto_me_motivado <= 5),
  empresa_se_preocupa INTEGER CHECK (empresa_se_preocupa >= 1 AND empresa_se_preocupa <= 5),
  conectado_colegas INTEGER CHECK (conectado_colegas >= 1 AND conectado_colegas <= 5),
  relacionamento_positivo INTEGER CHECK (relacionamento_positivo >= 1 AND relacionamento_positivo <= 5),
  quando_identifico INTEGER CHECK (quando_identifico >= 1 AND quando_identifico <= 5),
  
  -- CÃ¡lculos
  media_geral DECIMAL(3,2),
  resultado_percentual DECIMAL(5,2),
  
  created_at TIMESTAMP DEFAULT NOW(),
  updated_at TIMESTAMP DEFAULT NOW(),
  
  UNIQUE(bar_id, data_pesquisa, funcionario_nome, setor)
);

CREATE INDEX IF NOT EXISTS idx_nps_bar_data ON nps(bar_id, data_pesquisa);
CREATE INDEX IF NOT EXISTS idx_nps_setor ON nps(setor);

COMMENT ON TABLE nps IS 'Pesquisa NPS realizada com funcionÃ¡rios';

