
-- Tabela Estoque Insumos (controle manual do contador)
CREATE TABLE IF NOT EXISTS estoque_insumos (
  id SERIAL PRIMARY KEY,
  bar_id INTEGER NOT NULL REFERENCES bars(id),
  data_contagem DATE NOT NULL,
  
  -- Dados do produto
  categoria TEXT NOT NULL,
  codigo TEXT NOT NULL,
  descricao TEXT NOT NULL,
  unidade TEXT NOT NULL,
  
  -- Estoque
  estoque_anterior DECIMAL(10,3),
  estoque_atual DECIMAL(10,3) NOT NULL,
  diferenca DECIMAL(10,3),
  
  -- PreÃ§o e valores
  preco_unitario DECIMAL(10,2),
  valor_estoque DECIMAL(10,2),
  
  -- Controle
  usuario_contagem TEXT,
  observacoes TEXT,
  
  created_at TIMESTAMP DEFAULT NOW(),
  updated_at TIMESTAMP DEFAULT NOW(),
  
  UNIQUE(bar_id, data_contagem, codigo)
);

CREATE INDEX IF NOT EXISTS idx_estoque_bar_data ON estoque_insumos(bar_id, data_contagem);
CREATE INDEX IF NOT EXISTS idx_estoque_categoria ON estoque_insumos(categoria);
CREATE INDEX IF NOT EXISTS idx_estoque_codigo ON estoque_insumos(codigo);

COMMENT ON TABLE estoque_insumos IS 'Controle manual de estoque de insumos realizado pelo contador';

