
-- Tabela para custos mensais diluÃ­dos
CREATE TABLE IF NOT EXISTS custos_mensais_diluidos (
  id SERIAL PRIMARY KEY,
  bar_id INTEGER NOT NULL REFERENCES bars(id),
  mes INTEGER NOT NULL CHECK (mes >= 1 AND mes <= 12),
  ano INTEGER NOT NULL CHECK (ano >= 2024),
  descricao TEXT NOT NULL,
  valor_total DECIMAL(10,2) NOT NULL,
  parcela_atual INTEGER,
  total_parcelas INTEGER,
  tipo_diluicao TEXT NOT NULL CHECK (tipo_diluicao IN ('dias_uteis', 'dias_evento', 'semanas', 'mensal')),
  ativo BOOLEAN DEFAULT true,
  observacoes TEXT,
  created_at TIMESTAMP DEFAULT NOW(),
  updated_at TIMESTAMP DEFAULT NOW(),
  UNIQUE(bar_id, mes, ano, descricao)
);

-- Ãndices para performance
CREATE INDEX IF NOT EXISTS idx_custos_diluidos_bar_periodo ON custos_mensais_diluidos(bar_id, ano, mes);
CREATE INDEX IF NOT EXISTS idx_custos_diluidos_ativo ON custos_mensais_diluidos(ativo) WHERE ativo = true;

-- ComentÃ¡rios
COMMENT ON TABLE custos_mensais_diluidos IS 'Custos mensais que precisam ser diluÃ­dos proporcionalmente nos dias/semanas do mÃªs';
COMMENT ON COLUMN custos_mensais_diluidos.tipo_diluicao IS 'dias_uteis: dilui em todos os dias Ãºteis | dias_evento: apenas dias com eventos | semanas: por semana | mensal: valor fixo mensal';
COMMENT ON COLUMN custos_mensais_diluidos.parcela_atual IS 'Se for parcelado, indica qual parcela (ex: 3/5)';

