
-- Tabela Pesquisa da Felicidade
CREATE TABLE IF NOT EXISTS pesquisa_felicidade (
  id SERIAL PRIMARY KEY,
  bar_id INTEGER NOT NULL REFERENCES bars(id),
  data_pesquisa DATE NOT NULL,
  funcionario_nome TEXT NOT NULL,
  setor TEXT NOT NULL CHECK (setor IN ('LideranÃ§a', 'Cozinha', 'Bar', 'SalÃ£o', 'Luan', 'AndrÃ©a', 'Dudu', 'TODOS')),
  quorum INTEGER,
  
  -- Perguntas da Felicidade (escala 1-5)
  eu_comigo_engajamento INTEGER CHECK (eu_comigo_engajamento >= 1 AND eu_comigo_engajamento <= 5),
  eu_com_empresa_pertencimento INTEGER CHECK (eu_com_empresa_pertencimento >= 1 AND eu_com_empresa_pertencimento <= 5),
  eu_com_colega_relacionamento INTEGER CHECK (eu_com_colega_relacionamento >= 1 AND eu_com_colega_relacionamento <= 5),
  eu_com_gestor_lideranca INTEGER CHECK (eu_com_gestor_lideranca >= 1 AND eu_com_gestor_lideranca <= 5),
  justica_reconhecimento INTEGER CHECK (justica_reconhecimento >= 1 AND justica_reconhecimento <= 5),
  
  -- CÃ¡lculos
  media_geral DECIMAL(3,2),
  resultado_percentual DECIMAL(5,2),
  
  created_at TIMESTAMP DEFAULT NOW(),
  updated_at TIMESTAMP DEFAULT NOW(),
  
  UNIQUE(bar_id, data_pesquisa, funcionario_nome, setor)
);

CREATE INDEX IF NOT EXISTS idx_felicidade_bar_data ON pesquisa_felicidade(bar_id, data_pesquisa);
CREATE INDEX IF NOT EXISTS idx_felicidade_setor ON pesquisa_felicidade(setor);

COMMENT ON TABLE pesquisa_felicidade IS 'Pesquisa da Felicidade realizada com funcionÃ¡rios';

