-- SQL para importa├º├úo de contagens
-- Per├¡odo: 2025-01-26 at├® 2025-03-31

-- Total de 64 datas

-- Lote 1 (50 datas)
DO $$
BEGIN
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-01-26',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-01-27',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-01-28',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-01-29',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-01-30',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-01-31',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-02-01',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-02-03',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-02-04',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-02-05',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-02-06',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-02-07',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-02-08',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-02-09',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-02-10',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-02-11',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-02-12',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-02-13',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-02-14',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-02-15',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-02-16',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-02-17',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-02-18',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-02-19',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-02-20',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-02-21',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-02-22',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-02-23',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-02-24',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-02-25',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-02-26',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-02-27',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-02-28',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-03-01',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-03-02',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-03-03',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-03-04',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-03-05',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-03-06',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-03-07',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-03-08',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-03-09',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-03-10',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-03-11',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-03-12',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-03-13',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-03-14',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-03-15',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-03-16',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-03-17',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
END $$;

-- Lote 2 (14 datas)
DO $$
BEGIN
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-03-18',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-03-19',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-03-20',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-03-21',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-03-22',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-03-23',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-03-24',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-03-25',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-03-26',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-03-27',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-03-28',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-03-29',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-03-30',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
  PERFORM net.http_post(
    url := 'https://uqtgsvujwcbymjmvkjhy.supabase.co/functions/v1/sync-contagem-sheets?data=2025-03-31',
    headers := '{"Content-Type": "application/json"}'::jsonb
  );
END $$;

-- Verificar resultado:
SELECT COUNT(*) FROM contagem_estoque_insumos;
