{
  "openapi": "3.0.1",
  "info": {
    "title": "Cobranças",
    "version": "v1",
    "description": "API de cobranças"
  },
  "servers": [
    {
      "url": "https://api-v2.contaazul.com",
      "description": "Servidor de produção"
    }
  ],
  "tags": [
    {
      "name": "Cobranças",
      "description": "Operações relacionadas a cobranças"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/financeiro/eventos-financeiros/contas-a-receber/cobranca/{id_cobranca}": {
      "get": {
        "operationId": "buscarCobrancaPorId",
        "summary": "Buscar cobrança por id",
        "description": "Retorna os detalhes de uma cobrança específica pelo ID.",
        "tags": [
          "Cobranças"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id_cobranca",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Identificador único da cobrança."
          }
        ],
        "responses": {
          "200": {
            "description": "Cobrança encontrada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GerarCobrancaResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Cobrança não encontrada"
          }
        }
      },
      "delete": {
        "operationId": "cancelarCobrancaPorId",
        "summary": "Cancelar cobrança por id",
        "description": "Cancela uma cobrança específica pelo ID.",
        "tags": [
          "Cobranças"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id_cobranca",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Identificador único da cobrança."
          }
        ],
        "responses": {
          "200": {
            "description": "Cobrança cancelada com sucesso"
          },
          "404": {
            "description": "Cobrança não encontrada"
          }
        }
      }
    },
    "/v1/financeiro/eventos-financeiros/contas-a-receber/gerar-cobranca": {
      "post": {
        "operationId": "gerarCobranca",
        "summary": "Gerar cobrança",
        "description": "Gera uma cobrança.",
        "tags": [
          "Cobranças"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GerarCobrancaRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cobrança gerada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GerarCobrancaResponseDto"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "GerarCobrancaRequestDto": {
        "type": "object",
        "required": [
          "conta_bancaria",
          "descricao_fatura",
          "id_parcela",
          "data_vencimento",
          "tipo",
          "atributos"
        ],
        "properties": {
          "conta_bancaria": {
            "type": "string",
            "format": "uuid",
            "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b",
            "description": "Identificador único para a conta bancária. A conta deve ser do tipo \"COBRANCAS_CONTA_AZUL(CAPAYMENTSACCOUNT)\""
          },
          "descricao_fatura": {
            "type": "string",
            "example": "Payment for invoice #1234",
            "description": "Descrição da fatura."
          },
          "id_parcela": {
            "type": "string",
            "format": "uuid",
            "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b",
            "description": "Identificador único para a parcela."
          },
          "data_vencimento": {
            "type": "string",
            "format": "date",
            "example": "2023-10-10",
            "description": "Data de vencimento da cobrança."
          },
          "tipo": {
            "type": "string",
            "example": "LINK_PAGAMENTO",
            "description": "Tipo da cobrança.",
            "enum": [
              "LINK_PAGAMENTO",
              "PIX_COBRANCA",
              "BOLETO"
            ]
          },
          "atributos": {
            "$ref": "#/components/schemas/GerarCobrancaRequestAtributosDto"
          }
        }
      },
      "GerarCobrancaRequestAtributosDto": {
        "type": "object",
        "properties": {
          "desconto_antecipado": {
            "$ref": "#/components/schemas/GerarCobrancaRequestAtributosDescontoAntecipado"
          }
        }
      },
      "GerarCobrancaRequestAtributosDescontoAntecipado": {
        "type": "object",
        "required": [
          "dias_antes_vencer"
        ],
        "properties": {
          "valor": {
            "type": "number",
            "format": "double",
            "example": 10,
            "description": "Valor do desconto antecipado."
          },
          "percentual": {
            "type": "number",
            "format": "double",
            "example": 10,
            "description": "Percentual do desconto antecipado."
          },
          "dias_antes_vencer": {
            "type": "integer",
            "example": 10,
            "description": "Dias antes do vencimento para aplicar o desconto antecipado."
          }
        }
      },
      "GerarCobrancaResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b",
            "description": "Identificador único da cobrança."
          },
          "url": {
            "type": "string",
            "example": "http://www.exemplo.com.br",
            "description": "URL da cobrança."
          },
          "status": {
            "type": "string",
            "example": "AGUARDANDO_CONFIRMACAO",
            "enum": [
              "AGUARDANDO_CONFIRMACAO",
              "EM_CANCELAMENTO",
              "REGISTRADO",
              "QUITADO",
              "CANCELADO",
              "INVALIDO",
              "EXPIRADO",
              "FALHA_EMISSAO",
              "FALHA_CANCELAR",
              "REMESSA_GERADO",
              "REMESSA_PENDENTE",
              "PAGO",
              "EXTORNADO"
            ],
            "description": "Status da cobrança."
          }
        }
      }
    }
  }
}