{
  "openapi": "3.0.0",
  "info": {
    "description": "Endpoints openapi responsável pelo contexto de notas fiscais",
    "title": "Notas fiscais",
    "contact": {},
    "version": ""
  },
  "paths": {
    "/v1/notas-fiscais": {
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Retornar as notas fiscais por filtro",
        "parameters": [
          {
            "example": "2025-01-01",
            "description": "Data inicial",
            "name": "data_inicial",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "example": "2025-01-31",
            "description": "Data final",
            "name": "data_final",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Página",
            "name": "pagina",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "description": "Tamanho da página",
            "name": "tamanho_pagina",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "description": "Documento do tomador",
            "name": "documento_tomador",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Número da nota fiscal",
            "name": "numero_nota",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotaFiscalPorFiltro"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/http.Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/http.Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/http.Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/notas-fiscais/vinculo-mdfe": {
      "post": {
        "tags": [
          "v1"
        ],
        "summary": "Vincular nota fiscal a MDF-e",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkNotaFiscalMdfe"
              }
            }
          },
          "description": "Dados para vincular nota fiscal a MDF-e",
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/http.Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/http.Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/http.Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/notas-fiscais/{chave}": {
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Retornar a nota fiscal por chave",
        "parameters": [
          {
            "description": "Chave da nota fiscal",
            "name": "chave",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/http.Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/http.Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/http.Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "//api-v2.contaazul.com"
    }
  ],
  "components": {
    "schemas": {
      "LinkNotaFiscalMdfe": {
        "description": "Modelo de link de chaves de notas fiscais para MDF-e",
        "type": "object",
        "required": [
          "chaves_acesso",
          "identificador"
        ],
        "properties": {
          "chaves_acesso": {
            "description": "Chaves de acesso das notas fiscais vinculadas ao MDF-e",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "identificador": {
            "description": "Identificador do MDF-e",
            "type": "string"
          },
          "status": {
            "description": "Status do MDF-e",
            "allOf": [
              {
                "$ref": "#/components/schemas/StatusDoMDFE"
              }
            ]
          }
        }
      },
      "NotaFiscal": {
        "description": "Modelo de resposta para as notas fiscais contendo todas as informações necessárias",
        "type": "object",
        "properties": {
          "chave_acesso": {
            "description": "Chave de acesso da nota fiscal",
            "type": "string"
          },
          "data_emissao": {
            "description": "Data de emissão da nota fiscal",
            "type": "string"
          },
          "nome_destinatario": {
            "description": "Nome do destinatário",
            "type": "string"
          },
          "numero_nota": {
            "description": "Número da nota fiscal",
            "type": "integer"
          },
          "status": {
            "description": "Status da nota fiscal",
            "allOf": [
              {
                "$ref": "#/components/schemas/StatusDaNotaFiscal"
              }
            ]
          }
        }
      },
      "NotaFiscalPorFiltro": {
        "description": "Modelo de resposta para as notas fiscais contendo todas as informações necessárias",
        "type": "object",
        "properties": {
          "itens": {
            "description": "Lista de notas fiscais",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotaFiscal"
            }
          },
          "paginacao": {
            "description": "Paginação",
            "allOf": [
              {
                "$ref": "#/components/schemas/Pagina_o"
              }
            ]
          }
        }
      },
      "StatusDaNotaFiscal": {
        "description": "Enum de status da nota fiscal",
        "type": "string",
        "enum": [
          "EMITIDA",
          "CORRIGIDA_SUCESSO"
        ],
        "x-enum-varnames": [
          "EMITTED",
          "SUCCESS_CORRECTION"
        ]
      },
      "StatusDoMDFE": {
        "description": "Enum de status do MDF-e (Manifesto Eletrônico de Documentos Fiscais)",
        "type": "string",
        "enum": [
          "AUTORIZADO",
          "ENCERRADO",
          "CANCELADO"
        ],
        "x-enum-varnames": [
          "AUTHORIZED",
          "CLOSED",
          "CANCELED"
        ]
      },
      "http.Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "Pagina_o": {
        "description": "Modelo de resposta para paginação dos resultados",
        "type": "object",
        "properties": {
          "pagina_atual": {
            "description": "Página atual",
            "type": "integer"
          },
          "tamanho_pagina": {
            "description": "Tamanho da página",
            "type": "integer"
          },
          "total_itens": {
            "description": "Total de itens",
            "type": "integer"
          },
          "total_paginas": {
            "description": "Total de páginas",
            "type": "integer"
          }
        }
      }
    }
  }
}