{
  "openapi": "3.0.0",
  "info": {
    "description": "Endpoints openapi responsável pelo contexto de serviços.",
    "title": "Serviços",
    "contact": {},
    "version": ""
  },
  "paths": {
    "/v1/servicos": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "v1"
        ],
        "summary": "Retornar os serviços por filtro",
        "parameters": [
          {
            "description": "Página",
            "name": "pagina",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "description": "Tamanho da página",
            "name": "tamanho_pagina",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "description": "Busca textual por nome, código ou descrição do serviço",
            "name": "busca_textual",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ServicosPorFiltro"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/http.Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/http.Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/http.Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "v1"
        ],
        "summary": "Criar um novo serviço",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CriarServico"
              }
            }
          },
          "description": "Dados do serviço a ser criado",
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Servico"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/http.Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/http.Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "v1"
        ],
        "summary": "Deletar serviços em lote",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParametrosParaDeletarServicosEmLote"
              }
            }
          },
          "description": "IDs dos serviços a serem deletados",
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/http.Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/http.Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/http.Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/servicos/{id}": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "v1"
        ],
        "summary": "Retornar o serviço por id",
        "parameters": [
          {
            "description": "id do serviço",
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Servico"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/http.Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/http.Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/http.Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "//api-v2.contaazul.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "description": "Digite **'Bearer &lt;JWT&gt;'**, onde JWT é o access_token recebido no login (passo 2 do fluxo de autenticação).",
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    },
    "schemas": {
      "CenarioDeTributacaoDoServico": {
        "description": "Modelo de resposta para o cenário de tributação do serviço",
        "type": "object",
        "properties": {
          "id": {
            "description": "ID do cenário de tributação",
            "type": "string"
          },
          "inss_aliquota": {
            "description": "Alíquota do INSS",
            "type": "number"
          },
          "iss_aliquota": {
            "description": "Alíquota do ISS",
            "type": "number"
          },
          "iss_retido": {
            "description": "Indica se o ISS é retido",
            "type": "boolean"
          },
          "municipio": {
            "description": "Cidade do cenário de tributação",
            "allOf": [
              {
                "$ref": "#/components/schemas/CidadeDoServico"
              }
            ]
          },
          "nome_usuario": {
            "description": "Nome do usuário que criou o cenário",
            "type": "string"
          },
          "ultima_atualizacao": {
            "description": "Data e hora da última atualização do cenário",
            "type": "string"
          }
        }
      },
      "CidadeDoServico": {
        "description": "Modelo de resposta para a cidade do serviço",
        "type": "object",
        "properties": {
          "codigo": {
            "description": "Código do município",
            "type": "integer"
          },
          "nome": {
            "description": "Nome do município",
            "type": "string"
          },
          "uf": {
            "description": "Sigla do estado",
            "type": "string"
          }
        }
      },
      "CriarServico": {
        "description": "Modelo de criação de serviço",
        "type": "object",
        "required": [
          "descricao"
        ],
        "properties": {
          "codigo": {
            "description": "Código interno do serviço",
            "type": "string"
          },
          "custo": {
            "description": "Custo do serviço",
            "type": "number"
          },
          "descricao": {
            "description": "Descrição do serviço",
            "type": "string",
            "maxLength": 100,
            "minLength": 1
          },
          "preco": {
            "description": "Preço de venda do serviço",
            "type": "number"
          },
          "status": {
            "description": "Status atual do serviço (ATIVO/INATIVO)",
            "allOf": [
              {
                "$ref": "#/components/schemas/StatusDoServico"
              }
            ]
          },
          "tipo_servico": {
            "description": "Tipo do serviço conforme (PRESTADO, TOMADO, AMBOS)",
            "allOf": [
              {
                "$ref": "#/components/schemas/TipoDeServico"
              }
            ]
          }
        }
      },
      "NaturezaOperacionalDoServico": {
        "description": "Modelo de resposta para a natureza operacional do serviço",
        "type": "object",
        "properties": {
          "id": {
            "description": "ID da natureza operacional",
            "type": "string"
          }
        }
      },
      "Paginacao": {
        "description": "Modelo de resposta para paginação dos resultados",
        "type": "object",
        "properties": {
          "pagina_atual": {
            "description": "Página atual",
            "type": "integer"
          },
          "tamanho_pagina": {
            "description": "Tamanho da página",
            "type": "integer"
          },
          "total_itens": {
            "description": "Total de itens",
            "type": "integer"
          },
          "total_paginas": {
            "description": "Total de páginas",
            "type": "integer"
          }
        }
      },
      "ParametrosParaDeletarServicosEmLote": {
        "description": "Parâmetros para deletar serviços em lote'",
        "type": "object",
        "required": [
          "ids"
        ],
        "properties": {
          "ids": {
            "description": "IDs dos serviços a serem deletados",
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "Servico": {
        "description": "Modelo de resposta para o serviço contendo todas as informações necessárias",
        "type": "object",
        "properties": {
          "codigo": {
            "description": "Código interno do serviço",
            "type": "string"
          },
          "codigo_cnae": {
            "description": "Código CNAE do serviço",
            "type": "string"
          },
          "codigo_municipio_servico": {
            "description": "Código do município onde o serviço é prestado",
            "type": "string"
          },
          "custo": {
            "description": "Custo do serviço",
            "type": "number"
          },
          "descricao": {
            "description": "Descrição detalhada do serviço",
            "type": "string"
          },
          "id": {
            "description": "ID do serviço no sistema legado",
            "type": "string"
          },
          "id_externo": {
            "description": "ID externo do serviço",
            "type": "string"
          },
          "id_servico": {
            "description": "ID do serviço no sistema legado",
            "type": "integer"
          },
          "lei_116": {
            "description": "Lei 116 associada ao serviço",
            "type": "string"
          },
          "lista_cenario_tributario": {
            "description": "Lista de cenários de tributação do serviço",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CenarioDeTributacaoDoServico"
            }
          },
          "natureza_operacional": {
            "description": "Natureza operacional do serviço",
            "allOf": [
              {
                "$ref": "#/components/schemas/NaturezaOperacionalDoServico"
              }
            ]
          },
          "preco": {
            "description": "Preço de venda do serviço",
            "type": "number"
          },
          "status": {
            "description": "Status atual do serviço (ATIVO/INATIVO)",
            "allOf": [
              {
                "$ref": "#/components/schemas/StatusDoServico"
              }
            ]
          },
          "tipo_servico": {
            "description": "Tipo do serviço conforme enum",
            "allOf": [
              {
                "$ref": "#/components/schemas/TipoDeServico"
              }
            ]
          }
        }
      },
      "ServicosPorFiltro": {
        "description": "Modelo de resposta para os serviços contendo todas as informações necessárias",
        "type": "object",
        "properties": {
          "itens": {
            "description": "Lista de serviços",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Servico"
            }
          },
          "paginacao": {
            "description": "Paginação",
            "allOf": [
              {
                "$ref": "#/components/schemas/Paginacao"
              }
            ]
          }
        }
      },
      "StatusDoServico": {
        "description": "Enum de status do serviço",
        "type": "string",
        "enum": [
          "ATIVO",
          "INATIVO"
        ],
        "x-enum-varnames": [
          "ENABLED",
          "DISABLED"
        ]
      },
      "TipoDeServico": {
        "description": "Enum de tipo de serviço",
        "type": "string",
        "enum": [
          "PRESTADO",
          "TOMADO",
          "AMBOS"
        ],
        "x-enum-varnames": [
          "PROVIDED",
          "TAKEN",
          "BOTH"
        ]
      },
      "http.Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      }
    }
  }
}