-- Script para corrigir receitas do Frango a Passarinho
DELETE FROM receitas WHERE produto_id = (SELECT id FROM produtos WHERE codigo = 'pc0005');

INSERT INTO receitas (produto_id, insumo_id, quantidade_necessaria, bar_id)
SELECT 
  p.id, i.id,
  CASE 
    WHEN i.codigo = 'i0095' THEN 50.0
    WHEN i.codigo = 'i0149' THEN 3.0
    WHEN i.codigo = 'i0158' THEN 3.0
    WHEN i.codigo = 'i0123' THEN 1000.0
  END,
  3
FROM produtos p
CROSS JOIN insumos i
WHERE p.codigo = 'pc0005' AND i.codigo IN ('i0095', 'i0149', 'i0158', 'i0123');
